html {
  font-size: 25px;
  font-family: Amiri;
  text-align: center;
  background-color: #1f55b8;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
h1 {
  font-family: arabic typesetting;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 2px 2px 1px black;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
